.timerDisplay {
    font-size: 2rem;
    text-align: center;
}

/* SixtyFour: CSS class for a variable style */
.sixtyfour {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
            "BLED" 0,
            "SCAN" 0;
}

/* Honk: CSS class for a variable style */
.honk {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "MORF" 15,
            "SHLN" 50;
}

/* Nunito: CSS class for a variable style */
.nunito {
             font-family: "Nunito", sans-serif;
             font-optical-sizing: auto;
             font-weight: 500;
             font-style: normal;
}

/* Play: CSS class for a variable style */
.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Play: CSS class for a variable style */
.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}